html, body {
  background: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px Arial, Helvetica;
  color: #333333;
}

header {
  display: block;
}

header h1 {
  float: left;
  width: 400px;
}

header:after, article:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
header, article { display: inline-block; }
/* start commented backslash hack \*/
* html article { height: 1%; }
header, article { display: block; }
/* close commented backslash hack */

h1 {
  padding: 20px 20px 0;
}

h1, h2, h3 {
  margin: 0;
}

h2, h3 {
  padding: 10px 0;
}

article {
  max-width: 1600px;
  margin: 10px auto;
  padding:  20px 20px 220px;
}

input, select {
  margin-bottom: 10px;
  padding: 5px;
}

input[type="text"] {
  width: 190px;
  display: block;
  margin: 0 auto 10px;
}

select {
  width: 200px;
  margin: 0 5px 10px;
}

span {
  display: block;
  background-position: center center;
  height: 50px;
  font-size: 18px;
}

span img {
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}

@-webkit-keyframes rotateThis {
  0% {-webkit-transform:scale(0.5) rotate(0deg);}
  50% {-webkit-transform:scale(1) rotate(180deg);}
  100% {-webkit-transform:scale(0.5) rotate(360deg);}
}

.currency-converter {
  display: block;
  background: #EEE;
  border: 2px solid #DDD;
  width: 450px;
  padding: 10px;
  text-align: center;
}